
@{
    ViewBag.Title = "會員登入";
}

<h2>會員登入</h2>

<form action="@Url.Action("Login")" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <span class="control-label col-md-2">帳號</span>
            <div class="col-md-10">
                <input type="text" id="UserId" name="UserId" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">密碼</span>
            <div class="col-md-10">
                <input type="text" id="Password" name="Password" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="登入" class="btn btn-default" />
                @ViewBag.Message
            </div>
        </div>
    </div>

    <div>
        <p>尚未註冊? @Html.ActionLink("前往註冊", "CreateAccount", "Home")</p>
    </div>



</form>

